@font-face {
  font-family: "Mija";
  src: url("../fonts/Mija_Regular-webfont-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mija";
  src: url("../fonts/Mija_Bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("../fonts/ElenaWebBold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("../fonts/ElenaWebRegular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("../fonts/ElenaWebBoldItalic-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Elena";
  src: url("../fonts/ElenaWebRegularItalic-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  --bg: #fff;
  --bgSecondary: #e6ecf0;
  --textPrimary: rgba(0, 0, 0, 0.85);
  --textNormal: #14171a;
  --textSecondary: #657786;
  --textInteractive: #794bc4;
  --textInteractiveHover: #865dca;

  background-color: var(--bg);
}

body.dark {
  --bg: #15202b;
  --bgSecondary: #192734;
  --textPrimary: #fff;
  --textNormal: rgba(255, 255, 255, 0.85);
  --textSecondary: #8899a6;
  --textInteractive: #bc6ff1;
  --textInteractiveHover: #794bc4;
}

h1.header {
  font-family: "Varela Round", sans-serif !important;
}

.primaryMenu {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 20px;
}

.primaryMenu li {
  padding: 20px 20px 0;
}

.primaryMenu li a {
  font-family: "Mija", sans-serif;
  color: var(--textPrimary);
  font-weight: bold;
  text-transform: uppercase;
}

.primaryMenu li a[aria-current="page"],
.primaryMenu li a:hover {
  color: var(--textInteractive);
}

.primaryMenu li a[aria-current="page"] {
  color: var(--textInteractive);
  text-decoration: underline;
}

.bottomMenu {
  display: none;
  border-top: 1px solid var(--bgSecondary);
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-bottom: 0;
  position: fixed;
  left: 0;
  background-color: var(--bg);
  width: 100%;
  bottom: 0;
}

.bottomMenu.show,
.primaryMenu.show {
  display: flex;
}

.bottomMenu.hidden,
.primaryMenu.hidden {
  display: none;
}

.bottomMenu li {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.bottomMenu li a {
  padding: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: var(--textInteractive);
  font-family: "Varela Round", sans-serif;
}

.bottomMenu li a[aria-current="page"],
.bottomMenu li a:hover {
  text-decoration: none;
  color: var(--textPrimary);
}

#sun-moon {
  position: relative;
  z-index: 5;
  margin: auto;
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f5f8f8;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#sun-moon:before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background: #a5abb0;
  transition: border-radius 0.5s ease, background-color 0.5s ease,
    width 0.5s ease, transform 0.5s ease;
}

#sun-moon:after {
  content: "";
  white-space: nowrap;
  text-indent: 60px;
  line-height: 45px;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #f5f8f8;
  box-shadow: 0 0 0 0 #f5f8f8, 0 0 0 3px #a5abb0, 0 0 0 15px #f5f8f8;
  box-sizing: border-box;
  transition: border-color 0.5s ease, box-shadow 0.1s ease;
}

body.dark #sun-moon {
  background-color: #a5abb0;
}

body.dark #sun-moon:before {
  background: #3f3f4c;
  border-radius: 50%;
  width: 100%;
  transform: translate(-10%, -7%) rotate(0deg);
}

body.dark #sun-moon:after {
  content: "";
  box-shadow: 0 0 0 0 #3f3f4c, 0 0 0 0 #3f3f4c, 0 0 0 3px #a5abb0,
    0 0 0 15px #3f3f4c;
  border-color: #3f3f4c;
}

.gatsby-highlight {
  margin-bottom: 2.565rem;
}

.gatsby-highlight-code-line {
  background: linear-gradient(to right, rgba(179, 98, 255, 0.17), transparent);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

@media only screen and (max-width: 768px) {
  .bottomMenu {
    display: flex;
  }
  .primaryMenu {
    display: none;
  }
}
